$blue0: #0B5EA1;
$blueHover: rgba(11, 93, 161, 0.2);


$gray: #828282;  
$gray0: #ccc;
$gray1: #f2f2f2;
$grayRGBA: rgb(0 0 0 / 3%);

$orange: #fbae17;
$whiteText: #fff;
$blackText: #333;
$blackTextLink: #666;
$grayText: rgb(236, 239, 241);
$redText: #ac2820;

$bg-light-gray: #fcfcfd;
$bg-light-gray1: rgb(248, 248, 248);
$shadow-gray: #dedede;

$bg-red: rgb(245, 171, 174);
$bg-yellow: #f6ce4ca9;
$bg-blue: #3b82f64d;
$bg-green: #47ef9a80;

